* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.mg-top-15{
    margin-top: 15px;
}
.job-post {
    padding-bottom: 20px;
    padding-top: 20px;
    /* margin-left: -15px; */
    margin-top: -15px;
    background-color: rgb(235 235 235);
}

.job-container {
    margin: 0px 210px;
    padding: 0px 15px;
    margin-top: 24px;
      background-color: rgb(235 235 235);
}

/* Nav */
nav.header {
    padding: 24px 16px;
    
    width: 100%;
    
}
.header>div.container-nav {
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
    margin: 0px 190px;
    font-size: 16px;
    transform: translateY(10px);
    vertical-align: middle;
}
a.nav-home {
    padding: 5px 0px;
    margin-right: 16px;
    font-size: 30px;
    display: block;
    font-weight: 700;
    line-height: 36px;
    line-height: 28.7px;
    text-decoration: none;
    color: rgb(21, 126, 251);
}
.nav-element{
 
    
    font-size: 16px;
    
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
}
a.icon {
    display: none;
}
ul.nav-ull {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 408px;
    text-align: right;
    list-style-type: none;
}


.nav-item {
    margin-right: 10px;
}

a.nav-link {
    padding: 0px 20px;
    line-height: 2.7;
    color: black;
    text-decoration: none;
}

.btn-nav {
    text-decoration: none;
    color: white !important;
}

.btn-bluee {
    background-color: rgb(21, 126, 251);
    color: aliceblue !important;
    border-radius: 5px;
}

.btn-greenn {
    background-color: rgb(93, 210, 142);
    color: aliceblue !important;
    border-radius: 5px;
    margin-left: 10px;
}
.header.sticky {
    margin-top: 10px;
    padding: 12px 16px;
    position: fixed;
    background-color: white;
    z-index: 999;
    box-shadow: 1px 6px 14px rgb(0 0 0 / 20%);
    /* color: black; */
    transition: 0.4s;
}
.sticky .nav-home{
    color: #000000;
    transition: 0.4s;
}
.header.sticky ul li a {
    color: #333;
    transition: 0.4s;
  }
/* Login */
.acc-content{

}
.row-acc{
    display: flex;
}
.img-acc{
    width: 60%;
}
.img-acc img{
    width: 100%;
}
.form-acc{
    width: 40%;
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    margin-bottom: 70px;
}
.header-form{
    color: rgb(27, 118, 230);
}
.text-right{
    text-align: right;
    margin-bottom: 10px;
}
.text-right a{
    text-decoration: none;

}
button.btn.btn-primary {
    width: 100%;
}
.register{
    text-align: center;
    color: #3d3d3d;
    margin-top: 20px;
    font-size: 13px;
}
.register a{
    color: rgb(27, 118, 230);
}
.header-form a{
    float: right;
    font-size: 15px;
    /* margin-top: 10px; */
    line-height: 36px;
    text-decoration: none;
}

/* ------------------------footer------------------ */
.foot {
    
    font-size: 16px;
    background: #222831;
    padding-top: 58px;
    
}

.foot-container {
    margin: 0px 210px;
    padding: 0px 15px;
}

.row-foot {
    margin: 0px -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-foot {
    padding: 0px 10px;
    width: 25%;
}

.content-col {}

.content-col>h2 {
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
}

.content-col>p {
    color: rgba(255, 255, 255, 0.7);
    line-height: 28.8px;
}

.chuc-vu {
    padding: 0;
    list-style-type: none;
    display: table-cell;
}

.ti-location-pin {
    font-size: 18px;
    color: white;
    margin-right: 20px;
}

.ti-email {
    font-size: 18px;
    color: white;
    margin-right: 20px;
}

.element-chuc-vu {
    color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.element-chuc-vu>span {
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
}

.link-chucvu {

    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

/* --respon */
@media only screen and (max-width:1334px) {
    .job-container{
        margin: 0px 180px;
        margin-top: 24px;
    }
}

@media only screen and (max-width:1024px) {
    .job-container{
        margin: 0px 40px;
        margin-top: 24px;
    }
    input.search{
        width: 40%;
    }
    .foot-container{
        margin: 0px 40px;
    }
    .img-acc{
        width: 50%;
    }
    .form-acc{
        width: 50%;
    }
}
@media screen and (max-width: 987px){
    .header>div.container-nav{
        margin: 0;
    }
    .icon {
        color: #000000;
        transform: translateY(-10px);
        font-size: 40px;
    }
    ul.nav-ull{
        text-align: left;
        margin-left: 0;
        flex-direction: column;
        padding: 0;
    }

    .nav-element{
        flex-direction: column;
       
        margin-left: 0px;
        
    }
    
    .nav-item{
        margin: 2px 0px;
    
    }
    a.nav-link{
        padding: 0;
    }
    button.btn.btn-primary {
        width: 100%;
    }
    button.btn.btn-success {
        width: 100%;
    }
    .header>div.container-nav{
        transform: none;
    }
    a.icon {
        display: block;
    }
    ul.nav-ull{
        display: none;
    }

    
}
@media only screen and (min-width:1400px){
    .nav-ull{
        display: flex;
        flex-direction: row;
    }
    ul.dis-none{
        display: flex !important;
    }
}
ul.dis-none{
    display: block;
}
@media only screen and (max-width:768px) {
    .job-container{
        margin: 0px 10px;
        margin-top: 24px;
    }
    input.search{
        width: 40%;
    }
    .foot-container{
        margin: 0px 10px;
    }
    .img-acc{
        width: 50%;
    }
    .form-acc{
        width: 50%;
    }
}
@media only screen and (max-width:700px)  {
    .job-container{
        margin: 0px 20px;
        margin-top: 24px;
    }
    input.search{
        width: 100%;
    }
    .form-search>button{
        width: 100%;
    }
    .docc{
        flex-direction: column;
    }
    .doc-left {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .doc-right {
        line-height: 4;
        width: 100%;
        text-align: center;
    }
    .foot-container{
        margin: 0px 10px;
    }
    .ul-info{
        flex-direction: column;
    }
    form.form-search {
        margin-left: 0px;
    }
    .img-acc{
        width: 50%;
    }
    .form-acc{
        width: 50%;
    }
}
@media only screen and (max-width:414px)  {
    .job-container{
        margin: 0px 20px;
        margin-top: 24px;
    }
    input.search{
        width: 100%;
    }
    .form-search>button{
        width: 100%;
    }
    .docc{
        flex-direction: column;
    }
    .doc-left {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .doc-right {
        line-height: 4;
        width: 100%;
        text-align: center;
    }
    .foot-container{
        margin: 0px 10px;
    }
    .ul-info{
        flex-direction: column;
    }
    form.form-search {
        margin-left: 0px;
    }
    .img-acc{
        display: none;
    }
    .form-acc{
        width: 100%;
    }
}
